@model LoginModel

<!DOCTYPE html>
<html>
<head>
    <title>Форма введення інформації</title>
    <style>
        label {
            display: inline-block;
            width: 150px;
            text-align: right;
            margin-bottom: 20px;
        }

        input[type="text"],
        input[type="password"] {
            width: 250px;
        }

        button{
            margin-left: 230px;
        }
    </style>
</head>
<body>
    <form method="post">
        <div>
            <label asp-for="Login">Логін:</label>
            <input asp-for="Login" />
        </div>
        <div>
            <label asp-for="Password">Ім'я:</label>
            <input type="password" asp-for="Password" />
        </div>
        <button type="submit">Увійти</button>
    </form>
    <label style="width:300px">@ViewData["result"]</label>
    <br/><label style="width:300px">@ViewData["counter"]</label>
</body>
</html>
